body{
    background-color: white;
}
.container-fluid{
    background-color: #0007;
}
main{
    width: 100vw;
    height: 80vw;
}
.html{
    width: 300px;
    height: 215px;
}
.img1{
    width: 250px;
}
.img2{
    width: 241px;
}
.img3{
    width: 243px;
}
.img4{
    width: 220px;
}
.img5{
    width: 166px;
}