body{
    background-image: url(lenguajes.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 117vh;
}
.container-fluid{
    background-color: #0007;
}
.WH{
    width: 95vw;
    height: 100vh;
}
main{
    width: 95vw;
    height: 100vh;
}

.content {
    width: 50vw;
    background-color: #ffffff77;
}